RewriteEngine On

# Servir archivos estáticos directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todo al Front Controller
RewriteRule ^(.*)$ index.php [QSA,L]